:where(:root,.root, .app, .flow-container) {
    display: grid;
    height: 100%;
}

:root {
    font: var(--baseFontWeight) var(--baseFontSize)/var(--baseLineHeight) var(--baseFontFamily);
}
body {
    min-width: 320px;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}