:root {
  --colorWhite: #ffffff;
  --colorBlack: #000000;
  --colorBlue: #0081C9;

  --baseFontFamily: "Roboto", serif;
  --baseFontSize: 16px;
  --baseLineHeight: 1.2;
  --baseFontWeight: 400;

  --gridMaxWidth: 1226px;
  --gridPadding: 48px;
}